- Project uses Sveltekit with following initial start
    - Starting at SvelteKit minimal
    - No Typescript or JSDoc type checking
    - Build contains tailwindcss
    - pnpm package manager
    - supabase will be used to database, storage, authentication and realtime
- Always ensure the documentation.md file is up to date on how this project works in the internals and what we have done and learned
- When attempting to fix an error, do proper analysis first before fix attempt
- Always use frameworks best practices
- You have access to tree command for navigation
- Supabase will be managed with migration scripts and you will store all and execute them when needed
- Always check the tree command to know whats in the project and where you are
- Use supabase, we are using the cloud, Always use migrations, NEVER USE DIRECT SQL, NEVER update previous migrations, allways increment a new migration file 
- Always priorities server side approach when dealing with Supabase 